<div fxLayout="row" fxFlexFill>
  <div fxFlex="20"></div>
  <div fxFlex="60" fxLayout="column">
    <div fxLayout="column"></div>
      <div fxLayout="column" fxFlex="20" fxLayoutAlign="center" fxLayoutGap="0">
        <h1 fxFlexAlign="center" class="md-display-1">
          Sistema Nacional de Colaboración Empresarial
        </h1>
        <h1 fxFlexAlign="center" class="md-display-1">(SINACEM)</h1>
      </div>
      <div fxLayoutAlign="center" fxFlex="20">
        <img fxFlexAlign="center" fxFlex="15%" src="../assets/SBClogo2.png" />
      </div>
      <div fxFlex="60">
        <form>
          <div class="login-form" fxLayout="column">
            <mat-form-field>
              <mat-label>Nombre de Cuenta</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Usuario</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput />
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="submit()">
              Ingresar
            </button>
          </div>
        </form>
      </div>
  </div>
  <div fxFlex="20"></div>
</div>
