
.toolbar {
  background: #EAF5F3;
}

mat-sidenav-container {
  height: 100%
}

mat-sidenav {
  width: 250px;
  border-right: none;
  background: #EAF5F3;
  color: black;
  text-align: center;
  height: 100%
}

.sidenav-device-data {
  background: #2C375E;
  color: white;
  padding: 16px
}