<div fxLayout="column" style="height: 100%">
  <div fxFlex="15" style="height: 100%" class="toolbar">
    <mat-sidenav-container>
      <mat-sidenav opened mode="side">
        <img fxFlex="100%" src="../assets/SBClogo1.png" style="padding: 16px;"/>
      </mat-sidenav>
      <mat-sidenav-content fxLayout="row" style="padding: 10px" class="toolbar">
        <div fxFlex="60" fxLayout="column" fxFlexOffset="100px">
          <h3>Hola</h3>
          <h2>Usuario</h2>
          <h2>Empresa</h2>
        </div>
        <div fxFlex="40" fxLayoutAlign="center center">
          <h2>Sistema Nacional de Colaboración Empresarial</h2>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div fxFlex="85">
    <mat-sidenav-container>
      <mat-sidenav opened mode="side">
        <div fxLayout="column" fxFlexFill>
          <div class="sidenav-device-data" fxLayout="column" fxLayoutAlign="center start" fxFlex="10">
            <span>IP: 192.168.1.10</span>
            <span>GPS: PERU</span>
          </div>
          <div class="sidenav-menu">
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
