<div fxLayout="column" fxFlexFill>
  <div fxFlex="50" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" style="padding-top: 100px; padding-bottom: 100px">
    <button mat-raised-button color="primary" (click)="goToSearch()" fxFlex=30>Consulta de Datos</button>
    <button mat-raised-button color="primary" (click)="goToRegister()" fxFlex=30>Registro de Caso</button>
    <button mat-raised-button color="primary" (click)="goToConfiguration()" fxFlex=30>Configuración</button>
  </div>
  <div fxLayout="column" fxFlex="50" style="padding-left: 20px; padding-right: 20px;">
    <h2 fxFlexAlign="center">Historial de Operaciones</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
      
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
      
      <ng-container matColumnDef="ipAddress">
        <th mat-header-cell *matHeaderCellDef> IP </th>
        <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
      </ng-container>
      
      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef> Tipo movimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
      </ng-container>
       
       <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="subCategory">
        <th mat-header-cell *matHeaderCellDef> Sub-Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.subCategory}} </td>
      </ng-container>
       
       <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Dato </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>
       
       <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>  
</div>