<div fxLayout="column" fxFlexFill>
  <div
    fxFlex="10"
    fxLayoutAlign="center center"
    style="background: #46769a; color: white"
  >
    <h1>Consulta de datos</h1>
  </div>
  <div fxFlex="10" fxLayoutAlign="center center">
    <label>Selecciona y completa una opción para realizar la búsqueda</label>
  </div>
  <div fxFlex="80" style="padding-left: 200px; padding-right: 200px">
    <div class="searchForm" *ngIf="showForm">
      <form>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Numero de documento (DNI) </mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo electrónico (e-mail)</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número de celular</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>ID de dispositivo</mat-label>
            <input matInput />
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            (click)="submit()"
            fxFlexAlign="center"
          >
            BUSCAR
          </button>
        </div>
      </form>
    </div>

    <div class="loading" *ngIf="showLoader">
      LOADING ...
    </div>

    <div class="result" fxLayout="column" *ngIf="showResults" fxFlexFill>
      <div fxLayout="row">
        <div fxFlex="25"></div>
        <div fxLayout="column" fxFlex="25" fxLayoutGap="10%">
          <label>Estado</label>
          <label>Casos registrados</label>
          <label>DIVINDAT</label>
          <label>Score de Riesgo</label>
        </div>
        <div fxLayout="column" fxFlex="25" fxLayoutGap="10%">
          <label>{{queryResult?.status}}</label>
          <label>{{queryResult?.count}}</label>
          <label>{{queryResult?.divindat}}</label>
          <label>{{queryResult?.score}}</label>
        </div>
        <div fxFlex="25"></div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25%">
        <button
            mat-flat-button
            color="primary"
            (click)="submit()"
            fxFlexAlign="center"
          >
            Cerrar
          </button>

          <button
            mat-flat-button
            color="primary"
            (click)="submit()"
            fxFlexAlign="center"
          >
            Nueva Búsqueda
          </button>
      </div>
    </div>

  </div>
</div>
